* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100%;
}

.main {
    padding: 20px;
    margin-top: 44px;
    background: linear-gradient(45deg, #de34f8, #21006c);
    min-height: 200vh;
    font-size: 20px;
    color: #fff;
}

p {
    margin-bottom: 10px;
}

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 44px;
}

.nav__item {
    width: 100%;
    list-style: none;
    height: 38px;
}

.nav__item a {
    align-items: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    color: #2f66c7;
}

.nav__item a:hover {
    background-color: #ddd;
}

.nav__item a.active {
    background-color: #ddd;
}

.nav__item a svg {
    margin-right: 10px;
}

.submenu, .toRight, .toLeft {
    display: none;
}

/*.toRight {*/
/*    display: none;*/
/*}*/

.nav__item:hover > .submenu {
    display: block;
    position: relative;
    list-style: none;
    background-color: #fff;
}

.nav__item:hover > .toRight {
    display: block;
    top: -38px;
    left: 100%;
    position: relative;
    list-style: none;
    background-color: #ffc0c0;
}

.nav__item:hover > .toLeft {
    display: block;
    top: -38px;
    right: 100%;
    position: relative;
    list-style: none;
    background-color: #dbff8c;
}

@media screen and (max-width: 718px) {
    .nav__itemName {
        display: none;
    }

    .nav__item a svg {
        margin-right: 0;
    }
}
